@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: sans-serif;
  background-position: start;
  margin: 0%;
  box-sizing: border-box;
  padding: 0%;
}

.fa-brands {
  width: 26px;
  height: 26px;
  padding: 5px;
  gap: 10px;
  color: white;
}
.fa-solid-home-nav {
  display: flex;
  align-items: center;

  height: auto;
}
.landing-home {
  background-image: url("/images/hero1.jpg");
  background-size: cover;
}

.desktop2-grid {
  display: grid;
  height: auto;
  /* margin: auto; */
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  grid-template-rows: repeat(1, minmax(500px, 500px));
  grid-auto-rows: minmax(500px, 500px);
  gap: 15px;
}
.desktop2-grid-items {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.d-g-i-3 {
  display: grid;
  grid-template-columns: repeat(1, minmax(240px, 1fr));
  grid-template-rows: repeat(2, minmax(240px, 240px));
  gap: 19px;
}
.d-g-i-1 {
  grid-column: 1/3;
  background-image: url("/images/img-1.png");
}
.d-g-i-2 {
  background-image: url("/images/img-2.png");
}
.d-g-i-01 {
  background-image: url("/images/img-3-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.d-g-i-02 {
  background-image: url("/images/img-3-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.feature-grid {
  display: grid;
  width: auto;

  grid-template-columns: repeat(4, minmax(200px, 300px));
  grid-template-rows: repeat(2, minmax(615px, 615px));
  grid-auto-rows: minmax(615px, 615px);
  gap: 10px;

  row-gap: 100px;
}
.nested-all-feature-1 {
  height: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.n-f-1 {
  background-image: url("/images/bg-f1.png");
}
.n-f-2 {
  background-image: url("/images/bg-f2.png");
}
.n-f-3 {
  background-image: url("/images/bg-f3.png");
}
.n-f-4 {
  background-image: url("/images/bg-f4.png");
}
.n-f-5 {
  background-image: url("/images/bg-f5.png");
}
.n-f-6 {
  background-image: url("/images/bg-f6.png");
}
.n-f-7 {
  background-image: url("/images/bg-f7.png");
}
.n-f-8 {
  background-image: url("/images/bg-f8.png");
}
.nested-all-feature-2 {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.roll-div {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 5rem;
  height: 2rem;
}
.roll-bg-1 {
  background-color: #23a6f0;
}
.roll-bg-2 {
  background-color: #23856d;
}
.roll-bg-3 {
  background-color: #e77c40;
}
.roll-bg-4 {
  background-color: #252b42;
}
.span-div-price {
  width: 130px;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
}
.span-div-price .price-1 {
  font-weight: 700;

  color: #bdbdbd;
}
.span-div-price .price-2 {
  font-weight: 700;

  color: #23856d;
}
.title-p {
  font-weight: 700;
}

.fluid-landing {
  background-image: url("/images/fluid1.png");
  background-size: cover;
}
.grid-featured-post {
  display: grid;

  grid-template-columns: repeat(3, minmax(320px, 1fr));
  grid-template-rows: repeat(1, minmax(600px, 600px));
  grid-auto-rows: 600px;
  gap: 28px;
  height: auto;
}

.all-featured-post-n-2 {
  background-color: white;
}

.f-p-n-1 {
  background-image: url("/images/feature-01.png");
  background-size: cover;
}
.f-p-n-3 {
  background-image: url("/images/feature-02.png");
  background-size: cover;
}
.f-p-n-5 {
  background-image: url("/images/feature-03.png");
  background-size: cover;
}
.footer-fa-brands {
  color: #23a6f0;
}
.footer-div {
  display: grid;
  /* width: 1050px; */
  height: auto;
  grid-template-columns: repeat(6, minmax(128px, 1fr));
  grid-template-rows: repeat(1, minmax(165px, 165px));
  grid-auto-rows: 165px;
  gap: 5px;
}
.footer-h5 {
  font-weight: 700;
  color: #252b42;
  font-size: 20px;
}
.footer-ul {
  color: #737373;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  gap: 8px;
  margin-top: 0.8rem;
  /* background-color: #23856d; */
}
.get-in-touch {
  grid-column: 5/7;
}
.get-in-touch .footer-input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.get-in-touch .footer-btn {
  background-color: #23a6f0;
  color: white;
  padding: 0.8rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* vital classic start from here */
.vital-flex {
  display: flex;
  justify-content: space-between;
  max-width: 1144px;
  margin: auto;
  height: auto;

  gap: 10px;
}

.vital-flex h1 {
  font-size: 58px;
  font-weight: 700;
  color: #fafafa;
}
.vital-flex-1 {
  width: 50%;
  height: 500px;
}

.vital-flex-2 {
  background-image: url("/images/hero2.png");
  background-size: contain;
  background-repeat: no-repeat;

  width: 50%;
  height: 570px;
}
/* vital classic end from here */

/* fluid flex start from here */
.fluid-flex {
  padding: 2px;
  display: flex;
}
/* fluid flex end from here */
/* nav for responsive  */
.responsive-div-icons {
  display: none;
}
/*   */

/* CONTACT PAGE'S CSS START FROM HERE HERE */

.contact-nav {
  @apply px-2 h-[4rem] bg-white mx-auto flex items-center justify-between;
}
.contact-nav h3 {
  @apply font-bold text-[24px];
}
.ul-div ul {
  @apply flex gap-[30px];
}
.ul-div ul li {
  @apply text-[#737373] font-bold text-[14px];
}
.contact-btns-div {
  @apply flex justify-center h-[3rem] gap-[10px];
}

.contact-btns-div .login-btn {
  @apply text-[#23a6f0] font-bold pr-12;
}
.contact-btns-div .member-btn {
  @apply bg-[#23a6f0] text-white pr-4 pl-4 font-bold rounded-md;
}
.fa-solid-contact {
  @apply text-[#23a6f0];
}

.flex-contact-child-2 {
  background-image: url("/images/contact-img.png");
  @apply bg-no-repeat bg-center bg-contain;
}
.contact-business-grid {
  display: grid;
  @apply grid mt-[4rem] gap-[3rem] h-auto;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(1, minmax(400px, 410px));
  grid-auto-rows: minmax(400, 410px);
}
.contact-business-items {
  @apply flex flex-col justify-evenly text-center transition-all duration-200 ease-linear  font-bold;
}

.c-b-i-2 {
  @apply text-white bg-[#252b42] transform scale-110;
}
.c-b-i-2,
.contact-business-items:hover {
  @apply transform scale-110 text-white bg-[#252b42];
}
.contact-btn {
  @apply w-[10rem] p-[0.7rem] ml-[50%] text-[#23a6f0] border-2 border-[#23a6f0] rounded-[20px];

  transform: translate(-50%);
}

.grid-contact-home {
  @apply grid gap-[20px];
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: repeat(1, minmax(600px, 610px));
  grid-auto-rows: minmax(600px, 610px);
}
.arr-div {
  @apply px-2;
}
/* CONTACT PAGE'S CSS END FROM HERE HERE */

/* about page's css start from here */
.about-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  grid-template-rows: repeat(1, minmax(700px, 1fr));
  grid-auto-rows: minmax(700, 1fr);
  gap: 10px;
}
.about-grid-2 {
  background-image: url("/images/about-hero.png");
  @apply bg-no-repeat bg-center bg-contain;
}
.flex-about-problems {
  @apply flex w-[100%] h-[210px] gap-[50px];
}
.flex-p-1 {
  @apply w-[40%] flex flex-col justify-around;
}
.flex-p-2 {
  @apply w-[60%] flex flex-col justify-center;
}
.progress-div {
  display: grid;
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  grid-template-rows: repeat(1, minmax(150px, auto));
  grid-auto-rows: minmax(150px, auto);
  gap: 10px;
}
.grid-team {
  max-width: 1040px;
  height: auto;
  display: grid;
  margin-top: 4rem;
  grid-template-columns: repeat(3, minmax(310px, 1fr));
  grid-template-rows: repeat(1, minmax(500px, 510px));
  grid-auto-rows: minmax(500px, 510px);
  gap: 20px;
}
.g-n-t-all-01 {
  height: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.g-n-t-all-02 {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @apply py-4;
}
.grid-team-icons-div {
  @apply w-[8rem] flex justify-between px-2;
}
.grid-team-icons-div i {
  @apply text-[#23A6F0] text-[24px];
}
.g-n-t-01-1 {
  background-image: url("/images/t-m-1.jpg");
}
.g-n-t-01-2 {
  background-image: url("/images/t-m-2.jpg");
}
.g-n-t-01-3 {
  background-image: url("/images/t-m-3.jpg");
}

.company-grid {
  height: auto;
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-template-rows: repeat(1, minmax(200px, 210px));
  grid-auto-rows: minmax(200px, 210px);
  gap: 20px;
}

.company-grid .companies {
  @apply flex justify-center items-center text-[#737373] font-bold text-[100px];
  transform: translate(-20%);
}
.company-grid .companies i {
  @apply text-[#737373];
}
.about-last-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  grid-template-rows: repeat(1, minmax(400px, 1fr));
  grid-auto-rows: minmax(400px, 410px);
}
.about-l-2 {
  background-image: url("/images/about-last.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.about-l-1 {
  @apply flex justify-center items-center;
}
.l-info-div {
  @apply bg-[#2A7CC7] w-[440px] h-[auto] gap-5 flex flex-col;
}
.l-info-div button {
  @apply w-[10rem] font-bold hover:bg-[#2A7Cf9];
}
/* about page css end here */
@media (max-width: 1062px) {
  .feature-grid {
    grid-template-columns: repeat(auto-fill, minmax(238px, 1fr));

    height: auto;
    row-gap: 10px;
  }

  .grid-featured-post {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 10px;
    height: auto;
  }
  .footer-div {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    row-gap: 50px;
    height: auto;
  }
  .get-in-touch {
    /* grid-column: 5/7; */
    grid-column: auto;
  }
  .desktop2-grid {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 10px;
  }

  .d-g-i-1 {
    grid-column: 1;
    background-image: url("/images/img-1.png");
  }
  .footer-heading {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}
@media (max-width: 1440px) {
  .landing-home {
    background-position: center;
  }
}
@media (max-width: 1060px) {
  .home-contact {
    @apply h-auto;
  }
  .contact-business-grid {
    grid-template-columns: repeat(3, minmax(auto, auto));
    grid-template-rows: repeat(1, minmax(400px, 410px));
    grid-auto-rows: minmax(400px, 410px);
    @apply mt-[4rem] gap-[2rem];
  }
  .company-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
@media (max-width: 1050px) {
  .vital-grid h1 {
    font-size: 48px;
    font-weight: 700;
  }
}
@media (max-width: 1024px) {
  .landing-home {
    background-position: center;
  }
  .grid-team {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
}
@media (max-width: 940px) {
  .follow-us-nav h6 {
    @apply text-[12px];
  }
  .email-nav {
    @apply gap-2;
  }
  .email-nav h6 {
    @apply text-[12px];
  }
  .number-nav {
    @apply gap-2;
  }
  .number-nav h6 {
    @apply text-[12px];
  }
  .follow-us-icons-nav {
    @apply gap-2;
  }
  .follow-us-icons-nav h6 {
    @apply text-[12px];
  }
  .login-nav {
    @apply px-2 text-[12px] gap-2;
  }
  .li-div-nav {
    @apply px-1 gap-[10px] text-[12px];
  }
}
@media (max-width: 850px) {
  .grid-contact-home {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    @apply gap-[20px];
  }
  .home-contact {
    @apply py-20;
  }
  .flex-contact-child-1 {
    @apply items-center;
  }
  .flex-contact-child-2 {
    @apply items-center;
  }

  .contact-business-grid {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    @apply justify-center mt-[4rem] gap-[2rem];
  }

  .c-b-i-2 {
    @apply text-white bg-[#252b42] transform-none;
  }
  .small-business-div {
    width: auto;
  }

  .ul-div ul {
    @apply flex gap-[10px];
  }
  .ul-div ul li {
    @apply text-[#737373] font-bold text-[12px];
  }
}
@media (max-width: 817px) {
  .follow-us-nav h6 {
    @apply text-[10px];
  }
  .email-nav {
    @apply gap-1;
  }
  .email-nav h6 {
    @apply text-[10px];
  }
  .number-nav {
    @apply gap-1;
  }
  .number-nav h6 {
    @apply text-[10px];
  }
  .follow-us-icons-nav {
    @apply gap-1;
  }
  .follow-us-icons-nav h6 {
    @apply text-[10px];
  }
  .child-nav-1 {
    @apply px-1;
  }
}
@media (max-width: 791px) {
  .d-g-i-1 {
    background-image: url("/images/img-1.png");
    background-position: start;
  }
  .d-g-i-3 {
    grid-column: span 2;
  }
  .vital-flex {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    justify-content: space-between;

    gap: 13rem;
  }
  .vital-flex-1 {
    width: 100%;

    @apply py-[5px];
  }
  .vital-flex-2 {
    width: 100%;
  }
  .fluid-flex-1 {
    width: 100%;
  }
  .fluid-flex-2 {
    width: 100%;
  }

  .fluid-flex {
    flex-direction: column;
    align-items: center;
  }
  .home-contact {
    height: auto;
  }
  .grid-contact-home {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .about-last-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(320px, 1fr));

    height: 500px;
  }
  .about-l-2 {
    display: none;
  }
  .l-info-div {
    @apply w-[320px] h-[auto] gap-5 flex flex-col;
  }
  .about-l-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .landing-home {
    /* background-position-x: 50rem; */
    background-position: center;
  }
  .progress-div {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    text-align: center;
  }
}
@media (max-width: 700px) {
  .contact-nav-h3 {
    display: none;
  }
  .ul-div {
    display: none;
  }
  .contact-btns-div {
    display: none;
  }

  .responsive-div-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .child-nav-1 {
    display: none;
  }
  .child-nav-2 {
    display: none;
  }
  .about-grid {
    @apply px-2;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-template-rows: repeat(1, minmax(400px, 1fr));
    grid-auto-rows: minmax(400px, 1fr);
    gap: 60px;
  }
  .about-grid-1 {
    @apply items-center;
  }
  .flex-about-problems {
    @apply h-auto flex-col items-center gap-[10px];
  }
  .flex-p-1 {
    @apply text-center;
  }
  .flex-p-1 {
    width: 80%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
  }
  .flex-p-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .flex-p-2 p {
    text-align: center;
  }
  .info {
    @apply w-[90%];
  }
  .company-info-div {
    @apply w-[90%];
  }
}
@media (max-width: 523px) {
  .d-g-i-3 {
    grid-column: span 1;
  }
}
@media (max-width: 480px) {
  .landing-home {
    background-position-x: 55rem;
    /* background-position: center; */
  }
}

@media (max-width: 430px) {
  .grid-contact-home {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-template-rows: repeat(1, minmax(400px, auto));
    grid-auto-rows: minmax(400px, auto);
    @apply py-[0px] h-auto;
  }
  .home-contact {
    @apply h-auto py-1 p-1;
  }
  .contact-business-grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    @apply gap-[2rem] mt-[4rem] justify-center;
  }
  .flex-contact-child-1 h1 {
    @apply text-[48px];
  }
  .flex-contact-child-1 h4 {
    @apply text-[18px];
  }
  .flex-contact-child-1 h3 {
    @apply text-[20px];
  }
  .about-grid .about-grid-1 h5 {
    @apply text-[20px];
  }
  .about-grid .about-grid-1 h1 {
    @apply text-[48px];
  }
  .about-grid .about-grid-1 h4 {
    @apply text-[18px];
  }
  .get-in-touch input {
    @apply w-[75%];
  }
  .about-last-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(280px, 1fr));
  }
  .l-info-div {
    gap: 70px;
    @apply text-center;
  }
  .l-info-div button {
    @apply m-auto;
  }
}
@media (max-width: 320px) {
  .landing-home {
    background-position-x: 48rem;
  }

  .responsive-div-icons .flex-icons-div {
    width: auto;
    gap: 20px;
    font-size: 1.2rem;
  }
}
