@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: sans-serif;
  background-position: start;
  margin: 0%;
  box-sizing: border-box;
  padding: 0%;
}
body {
  @apply px-2;
}
.fa-brands {
  width: 26px;
  height: 26px;
  padding: 5px;
  gap: 10px;
  color: white;
}
.fa-solid-home-nav {
  display: flex;
  align-items: center;
  /* background-color: #23856d; */
  height: auto;
}
.landing-home {
  /* @apply flex flex-col items-center justify-center h-screen; */
  background-image: url("/images/hero1.jpg");
  background-size: cover;
}

.desktop2-grid {
  display: grid;
  height: auto;
  /* margin: auto; */
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  grid-template-rows: repeat(1, minmax(500px, 500px));
  grid-auto-rows: minmax(500px, 500px);
  gap: 15px;
}
.desktop2-grid-items {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.d-g-i-3 {
  display: grid;
  grid-template-columns: repeat(1, minmax(240px, 1fr));
  grid-template-rows: repeat(2, minmax(240px, 240px));
  gap: 19px;
}
.d-g-i-1 {
  grid-column: 1/3;
  background-image: url("/images/img-1.png");
}
.d-g-i-2 {
  background-image: url("/images/img-2.png");
}
.d-g-i-01 {
  background-image: url("/images/img-3-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.d-g-i-02 {
  background-image: url("/images/img-3-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.feature-grid {
  display: grid;
  width: auto;

  grid-template-columns: repeat(4, minmax(200px, 300px));
  grid-template-rows: repeat(2, minmax(615px, 615px));
  grid-auto-rows: minmax(615px, 615px);
  gap: 10px;

  row-gap: 100px;
}

.nested-all-feature-1 {
  height: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.n-f-1 {
  background-image: url("/images/bg-f1.png");
}
.n-f-2 {
  background-image: url("/images/bg-f2.png");
}
.n-f-3 {
  background-image: url("/images/bg-f3.png");
}
.n-f-4 {
  background-image: url("/images/bg-f4.png");
}
.n-f-5 {
  background-image: url("/images/bg-f5.png");
}
.n-f-6 {
  background-image: url("/images/bg-f6.png");
}
.n-f-7 {
  background-image: url("/images/bg-f7.png");
}
.n-f-8 {
  background-image: url("/images/bg-f8.png");
}
.nested-all-feature-2 {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.roll-div {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 5rem;
  height: 2rem;
}
.roll-bg-1 {
  background-color: #23a6f0;
}
.roll-bg-2 {
  background-color: #23856d;
}
.roll-bg-3 {
  background-color: #e77c40;
}
.roll-bg-4 {
  background-color: #252b42;
}
.span-div-price {
  width: 130px;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
}
.span-div-price .price-1 {
  font-weight: 700;

  color: #bdbdbd;
}
.span-div-price .price-2 {
  font-weight: 700;

  color: #23856d;
}
.title-p {
  font-weight: 700;
}

.fluid-landing {
  background-image: url("/images/fluid1.png");
  background-size: cover;
}
.grid-featured-post {
  display: grid;

  grid-template-columns: repeat(3, minmax(320px, 1fr));
  grid-template-rows: repeat(1, minmax(600px, 600px));
  grid-auto-rows: 600px;
  gap: 28px;
  height: auto;
}
.featured-items {
  /* background-color: yellow;
  padding: 5px; */
}
.all-featured-post-n-2 {
  background-color: white;
}
/* .all-featured-post-n-1 {
  background-image: url("/images/feature-01.png");
  background-size: cover;
} */
.f-p-n-1 {
  background-image: url("/images/feature-01.png");
  background-size: cover;
}
.f-p-n-3 {
  background-image: url("/images/feature-02.png");
  background-size: cover;
}
.f-p-n-5 {
  background-image: url("/images/feature-03.png");
  background-size: cover;
}
.footer-fa-brands {
  color: #23a6f0;
}
.footer-div {
  display: grid;
  /* width: 1050px; */
  height: auto;
  grid-template-columns: repeat(6, minmax(148px, 1fr));

  grid-template-rows: repeat(1, minmax(165px, 165px));
  grid-auto-rows: 165px;
  gap: 5px;
}
.footer-h5 {
  font-weight: 700;
  color: #252b42;
  font-size: 20px;
}
.footer-ul {
  color: #737373;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  gap: 8px;
  margin-top: 0.8rem;
  /* background-color: #23856d; */
}
.get-in-touch {
  grid-column: 5/7;
}
.get-in-touch .footer-input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.get-in-touch .footer-btn {
  background-color: #23a6f0;
  color: white;
  padding: 0.8rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* vital classic start from here */
.vital-flex {
  display: flex;
  justify-content: space-between;
  max-width: 1144px;
  margin: auto;
  height: auto;
  /* background-color: #af23f0; */

  gap: 10px;
}

.vital-flex h1 {
  font-size: 58px;
  font-weight: 700;
  color: #fafafa;
}
.vital-flex-1 {
  width: 50%;
  height: 500px;
}

.vital-flex-2 {
  background-image: url("/images/hero2.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: pink; */
  width: 50%;
  height: 500px;
  /* height: 100vh; */
}

/* vital classic end from here */
/* fluid flex start from here */
.fluid-flex {
  padding: 2px;
  display: flex;
}
/* fluid flex end from here */

/* footer start from here */

/* footer end from here */
@media (max-width: 1062px) {
  .feature-grid {
    grid-template-columns: repeat(auto-fill, minmax(238px, 1fr));

    height: auto;
    row-gap: 10px;
  }

  .grid-featured-post {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 10px;
    height: auto;
  }
  .footer-div {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 2px;
    height: auto;
  }
  .get-in-touch {
    /* grid-column: 5/7; */
    grid-column: auto;
  }
  .desktop2-grid {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 10px;
  }

  .d-g-i-1 {
    grid-column: 1;
    background-image: url("/images/img-1.png");
  }
  .footer-heading {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}
@media (max-width: 1440px) {
  .landing-home {
    background-position: center;
  }
}
@media (max-width: 1050px) {
  .vital-grid h1 {
    font-size: 48px;
    font-weight: 700;
  }
}
@media (max-width: 1024px) {
  .landing-home {
    background-position: center;
  }
}

@media (max-width: 791px) {
  .d-g-i-1 {
    /* grid-column: 1/0; */
    background-image: url("/images/img-1.png");
    background-position: start;
  }
  .d-g-i-3 {
    grid-column: span 2;
  }
  .vital-flex {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .vital-flex-1 {
    width: 100%;

    @apply py-[5px];
  }
  .vital-flex-2 {
    width: 100%;
    /* background-color: red; */
  }
  .fluid-flex-1 {
    width: 100%;
  }
  .fluid-flex-2 {
    width: 100%;
  }
  .fluid-flex {
    @apply bg-red-900;
  }
  .fluid-flex {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .landing-home {
    /* background-position-x: 50rem; */
    background-position: center;
  }
}
@media (max-width: 523px) {
  .d-g-i-3 {
    grid-column: span 1;
  }
}
@media (max-width: 480px) {
  .landing-home {
    background-position-x: 55rem;
    /* background-position: center; */
  }
}
@media (max-width: 320px) {
  .landing-home {
    background-position-x: 48rem;

    /* background-position: center; */
  }
  body {
    padding: 3px;
  }
}
